.profile__paragraph {
    margin: 0;
    max-width: 358px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #FFFFFF;
}
@media (max-width: 619px)  {
    .profile__paragraph {
        max-width: 238px;
        padding-top: 14px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}
@media (min-width: 620px) and (max-width: 930px) {
    .profile__paragraph {
        margin-top: 16px;
    }
}