.card__button-delete {
    width: 18px;
    height: 19px;
    padding: 0;
    border: none;
    background: url(../../../images/button-delete.svg) no-repeat center;
    background-size: 18px 19px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}