.popup__input {
    border: 0;
    height: 27px;
    font-size: 14px;
    border-bottom: 1px solid #000000;
    font-family: 'Inter', Arial, sans-serif;
    width: 358px;
    margin: 0 auto;
}
.popup__input:invalid {
    border-bottom-color: red;
}
@media (max-width: 619px)  {
    .popup__input {
        width: 238px;
    }
}
