.profile {
    margin: 40px auto 51px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 880px;
}
@media (max-width: 619px)  {
    .profile {
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 620px) and (max-width: 930px) {
    .profile {
        width: 88%;
    }
}
