.popup__content {
    position: relative;
    max-width: 430px;
    height: 330px;
    color: white;
    background: #FFFFFF;
    border-radius: 10px;    
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@media (max-width: 619px)  {
    .popup__content {
        width: 282px;
        height: 322px;
    }
}