.popup__form-btn {
    background-color: #000;
    border: none;
    color: #fff;
    border-radius: 2px;
    font-family: 'Inter',Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    margin: 48px auto;
    min-height: 50px;
    outline: none;
    transition: .2s;
    cursor: pointer;
    width: 88%;
}
.popup__form-btn:hover {
    opacity: .6;
}
@media (max-width: 619px) {
    .popup__form-btn {
        margin-top: 45px;
        min-height: 46px;
    }
}
