.profile__edit_button {
    background-image: url(../../../images/Vec3tor.svg);
    background-color:transparent;
    background-position: 50%;
    min-height: 24px;
    min-width: 24px;
    padding: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    background-repeat: no-repeat;
    outline: none;
    transition: all .1s linear;
    cursor: pointer;
}
.profile__edit_button:hover {
    opacity:.6;
}
@media  (max-width: 620px) {
    .profile__edit_button {
        margin-left: 10px;
        min-width: 18px;
        min-height: 18px;
    }   
}
