.header__logo {
    display: block;
    width: 142px;
    height: 33px;
}@media (max-width: 619px)  {
    .header__logo {
        width: 104px;
        height: 24px;
        margin-left: 27px;
    }
}
@media (min-width: 620px) and (max-width: 930px) {
    .header__logo {
        margin-left: 27px;
    }
}