.popup__input-text {
  display: block;
  min-height: 30px;
  color: red;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  font-weight: 400;
  margin-left: 36px;
  margin-bottom: 13px;
  font-family: 'Inter',Arial,Helvetica,sans-serif;
}