.footer__copyrights {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}
@media (min-width: 620px) and (max-width: 930px) {
    .footer__copyrights {
        font-size: 14px;
        line-height: 17px;
    }
}
