.card__like {
    height: 19px;
    width: 22px;
    object-fit: cover;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../../../../images/serd.png);
}
.card__like:hover {
    opacity:.6;
}
