.profile__info {
    display: flex;
    margin: 18px 0 0 30px;
    flex-direction: column;   
}
@media  (min-width: 620px) and (max-width: 919px)   {
.profile__info {
    max-width: 230px;
}
}
