.profile__info-paragraph {
    width: 336px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #FFFFFF;
}
@media (max-width: 619px)  {
    .profile__info-paragraph {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}
@media (min-width: 620px) and (max-width: 930px) {
    .profile__info-paragraph {
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
    }
}