.card__body {
    width: 100%;
    display: flex;
    background-color: #fff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 15px 25px 21px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}