.popup__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    margin-left: 36px;
    padding-top: 34px;
    color: #000000;
}
@media (max-width: 619px)  {
    .popup__title {
        padding-top: 25px;
        margin-left: 22px;
        font-size: 18px;
        line-height: 22px;
    }
}
