.elements__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: repeat(auto-fit, 361px);
    gap: 20px 17px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}