.profile__title-btn {
    background-image: url(../../../images/Vec3tor.svg);
    background-color:transparent;
    background-position: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    background-repeat: no-repeat;
    outline: none;
    transition: all .1s linear;
    cursor: pointer;
}
.profile__title-btn:hover {
    opacity:.6;
}