.profile__info-title {
    max-width: 358px;
    margin: 0 18px 16px 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #FFFFFF;
}
@media (max-width: 619px)  {
    .profile__info-title {
        max-width: 238px;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        margin: 0;
    }
}
@media (min-width: 620px) and (max-width: 930px) {
    .profile__info-title {
        font-weight: 500;
        font-size: 23px;
        line-height: 23px;
        margin: 0 18px 0 0;
    }
}